<center>
  <h1>Ferry Building</h1>
</center>

<div class="container">
         <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="/assets/ferrynorth.jpg" alt="#" class="img-responsive" alt="Responsive image">
            <div class="carousel-caption">
                  <h3>Link to Profile</h3>
                </div>
            </div>
            <div class="item">
                <img src="/assets/ferryeast.jpg" alt="#" class="img-responsive" alt="Responsive image">
                <div class="carousel-caption">
                  <h3> Link to Profile</h3>
                </div>
            </div>
            <div class="item">
                <img src="/assets/ferrysouth.jpg" alt="#" class="img-responsive" alt="Responsive image">
                <div class="carousel-caption">
                  <h3>Link to Profile</h3>
                </div>
            </div>
            <div class="item">
                <img src="/assets/ferrywest.jpg" alt="#" class="img-responsive" alt="Responsive image">
                <div class="carousel-caption">
                  <h3>Link to Profile</h3>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>

<center>
  <h1>Newest</h1>
</center>

<div class="container">
  <div class="row">
  <br>
    <div class="col-md-3">
      <div class="product-image-container">
        <center>
          <img src="/assets/ferrynorth.jpg" id="picture"/>
        </center>
      </div>  
    </div>

    <div class="col-md-3">
      <div class="product-image-container">
        <center>
          <img src="/assets/ferryeast.jpg" id="picture"/>
        </center>
      </div>  
    </div>
    <div class="col-md-3">
      <div class="product-image-container">
        <center>
          <img src="/assets/ferrysouth.jpg" id="picture"/>
        </center>
      </div>  
    </div>
    <div class="col-md-3">
      <div class="product-image-container">
        <center>
          <img src="/assets/ferrywest.jpg" id="picture"/>
        </center>
      </div>  
    </div>
  </div>
</div>
  