<!-- Section for the main image  -->
<section>
	<div class="main-picture">
		<div class="main-image">
			<center>
				<br>
				<h2 id="explore">Explore locations with perspective</h2>
				
			</center>
		</div>
	</div>	
</section>
<div class="container-fluid">
	<div class="row">
		<br>
		<center>
			<h1>San Francisco</h1>
		</center>
	</div>
	<br>
	<div class="row">
		<br>
		<div class="col-md-3 col-xs-3">
			<center>
				<%= link_to "COIT", coit_path, class: "btn btn-primary", id: "buttoncoit" %>
			</center>
			
		</div>
		<div class="col-md-3 col-xs-3">
			<center>
				<%= link_to "FERRY BUILDING", ferrybuilding_path, class: "btn btn-primary", id: "buttonalcatraz" %>
			</center>
			
		</div>
		<div class="col-md-3 col-xs-3">
			<center>
				<%= link_to "B of A BUILDING", fivefivefive_path, class: "btn btn-primary" %>
			</center>
			
		</div>
		<div class="col-md-3 col-xs-3">
			<center>
				<%= link_to "TRANSAMERICA", transamerica_path, class: "btn btn-primary" %>
			</center>
			
		</div>
	</div>
</div>