// Place all the styles related to the franciscos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#picture {
	padding: 10px;
	height: 200px;
	width: 300px;
}

.item {
	width: 100%;
	height: 300px;
	max-height: 300px;
}

.myCarousel {
	width: 100%;
}