// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-picture .main-image {
	background-image: url("coit.png");
	background-size: cover;
	width: 100%;
	height: 450px;
}

.main-picture {
	position: relative;
}

#buttoncoit{
	padding-left: 47px;
	padding-right: 47px;
}

#buttonalcatraz {
	padding-left: 27px;
	padding-right: 27px;
}

#explore {
	margin: 0px;
}

.sfmap .sfmap {
	background-image: url("sfdesign.png");
	background-size: cover;
	width: 100%;
	height: 500px;
}